@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #ffffff;
    --color-secundario: #6f00ff;
}

body {
    padding-top: 100px; 
    scroll-behavior: smooth; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}

.logo {
    font-size: 1.8em;
    color: var(--color-primario);
    cursor: pointer;
}

.logo span {
    color: var(--color-secundario);
}

.navegacion a {
    font-size: 1em;
    color: var(--color-primario);
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
    transition: .3s;
}

.navegacion a:hover {
    color: var(--color-secundario);
}

.inicio {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 10px;
    flex-direction: column;
    text-align: center;
} 

.contenido {
    max-width: 600px;
    color: var(--color-primario);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenido h2 {
    font-size: 2.5em;
}

.contenido h2 span {
    color: var(--color-secundario);
}

.contenido h4 {
    font-size: 1.5em;
}

.contenido p {
    padding: 10px 0 20px 0;
}

.foto-perfil {
    margin-bottom: 20px; /* Espacio debajo de la foto */
}

.foto-perfil img {
    width: 100%; /* Usa un porcentaje en lugar de un tamaño fijo */
    max-width: 250px; /* Establece un ancho máximo */
    height: auto; /* Ajusta la altura automáticamente */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 25px rgb(76, 0, 255), 0 0 50px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s;
}

.foto-perfil img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .foto-perfil img {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .foto-perfil img {
        max-width: 150px;
    }
}

.btn-grupo a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    font-weight: 600;
    transition: .3s;
    display: inline-block;
    margin: 5px;
}

.btn-grupo a:hover {
    background-color: transparent;
    color: var(--color-secundario);
}

.iconos-redes {
    position: relative;
    margin-top: 20px;
}

.iconos-redes a {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    background: var(--color-secundario);
    border-radius: 50%;
    margin: 0 10px; 
    text-align: center;
    line-height: 40px; 
    border: 2px solid var(--color-secundario); 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4), 0 0 12px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.iconos-redes a:hover {
    transform: translateY(-5px) scale(1.1); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3); 
    background: rgba(255, 255, 255, 0.2); 
}

.iconos-redes a i {
    color: #fff;
    font-size: 1.2em; 
}

.sobre-mi,
.proyectos,
.contacto {
    padding: 50px 10px;
    text-align: center;
}

.sobre-mi {
    background-color: #222;
    color: var(--color-primario);
}

.sobre-mi h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidad i {
    font-size: 2.5em;
    color: var(--color-secundario);
}

.habilidad p {
    margin-top: 10px;
    font-size: 1em;
}

.proyectos {
    background-color: #333;
    color: var(--color-primario);
}

.proyectos h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.proyectos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.btn-proyecto {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    font-weight: 600;
    transition: .3s;
}

.btn-proyecto:hover {
    background-color: transparent;
    color: var(--color-secundario);
    box-shadow: 0 0 15px var(--color-secundario);
}

.contacto {
    background-color: #444;
    color: var(--color-primario);
}

.contacto h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-group label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-secundario);
    border-radius: 5px;
    background-color: #333;
    color: var(--color-primario);
}

.form-group textarea {
    resize: vertical;
}

.btn-enviar {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    font-weight: 600;
    transition: .3s;
    margin-top: 20px;
}

.btn-enviar:hover {
    background-color: #ffffff;
    color: var(--color-secundario);
    box-shadow: 0 0 15px var(--color-secundario);
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        padding: 30px 20px;
    }

    .logo {
        font-size: 1.5em;
    }

    .navegacion a {
        font-size: 1em;
        margin: 0 5px;
    }

    .btn-hablar {
        padding: 8px 15px;
    }

    .inicio {
        padding: 30px 10px;
        text-align: center;
    }

    .contenido h2 {
        font-size: 2em;
    }

    .contenido h4 {
        font-size: 1.2em;
    }

    .btn-grupo a {
        padding: 8px 15px;
    }

    .foto-perfil {
        margin-bottom: 20px;
    }

    .foto-perfil img {
        width: 200px;
        height: 200px;
    }

    .sobre-mi h2, .proyectos h2, .contacto h2 {
        font-size: 1.8em;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 10px;
    }

    .logo {
        font-size: 1.2em;
    }

    .navegacion a {
        font-size: 0.9em;
        margin: 0 5px;
    }

    .btn-hablar {
        padding: 8px 10px;
    }

    .inicio {
        padding: 20px 10px;
    }

    .contenido h2 {
        font-size: 1.5em;
    }

    .contenido h4 {
        font-size: 1em;
    }

    .btn-grupo a {
        padding: 8px 10px;
    }

    .foto-perfil img {
        width: 150px;
        height: 150px;
    }

    .sobre-mi h2, .proyectos h2, .contacto h2 {
        font-size: 1.5em;
    }
}
